<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>庆典流程</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="__CDN__/assets/show/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="__CDN__/assets/show/css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<section id="layout">
    <section class="page-wrapper">

        <section id="right_content">
            <header id="header">
                <div class="head-title">中威20周年庆典欢迎您</div>
            </header>
            <section id="content">
                <div id="content_page">
                    <div id="page1">
                        <!--<canvas id="signCard" width="874" height="1240">-->
                        <img id="image-put" >
                        <div style="display: none">
                        <input type="hidden" id="name" value="{$user.name}">
                        <input type="hidden" id="room" value="{$user.seatnum}">
                        <input type="hidden" id="table" value="{$user.fv}">
                        <input type="hidden" id="tpl" value="https://ws2.sinaimg.cn/large/006tKfTcly1fl1qmq9frdj30oa0ygh1n.jpg">
                        <canvas id="signCard" width="874" height="1240">
                        <!--<canvas id="signCard"  style="width:100%;height:100%;">-->
                        <!--<canvas id="signCard" >-->
                        </canvas>
                        </div>
                    </div>
                    <div id="page2">
                        <img src="https://ws4.sinaimg.cn/large/006tKfTcly1fl1qmnlmloj30af0ij45g.jpg" alt="">
                    </div>
                </div>
            </section>

            <footer id="footer">
                <ul>
                    <li class="current">签到卡</li>
                    <li >庆典流程</li>
                </ul>
            </footer>
        </section>
    </section>
</section>
</body>
</html>
<script src="__CDN__/assets/show/js/jquery-2.0.3.min.js"></script>
<script src="__CDN__/assets/show/js/jgestures.min.js"></script>
<script src="__CDN__/assets/show/js/index.js"></script>