<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">{:__('Sex')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[sex]', [1=>"男", 2=>"nv"], 1);}
        </div>
    </div>
    <div class="form-group">
        <label for="c-phone" class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" data-rule="required" class="form-control" name="row[phone]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-room" class="control-label col-xs-12 col-sm-2">{:__('Room')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-room" data-rule="required" class="form-control" name="row[room]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mettingadd" class="control-label col-xs-12 col-sm-2">{:__('Mettingadd')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mettingadd" data-rule="required" class="form-control" name="row[mettingadd]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-seatnum" class="control-label col-xs-12 col-sm-2">{:__('Seatnum')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-seatnum" data-rule="required" class="form-control" name="row[seatnum]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-groupnum" class="control-label col-xs-12 col-sm-2">{:__('Groupnum')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-groupnum" data-rule="required" class="form-control" name="row[groupnum]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-groupadd" class="control-label col-xs-12 col-sm-2">{:__('Groupadd')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-groupadd" data-rule="required" class="form-control" name="row[groupadd]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-th" class="control-label col-xs-12 col-sm-2">{:__('Th')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-th" data-rule="required" class="form-control" name="row[th]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-fv" class="control-label col-xs-12 col-sm-2">{:__('Fv')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fv" data-rule="required" class="form-control" name="row[fv]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-six" class="control-label col-xs-12 col-sm-2">{:__('Six')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-six" data-rule="required" class="form-control" name="row[six]" type="text">
        </div>
    </div>

    <div class="form-group">
        <label for="c-local" class="control-label col-xs-12 col-sm-2">{:__('Upload')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="row[img]" id="c-local" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label for="c-local" class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button id="plupload-local" class="btn btn-primary plupload" data-input-id="c-local"
                    data-url="{:url('ajax/upload')}"><i class="fa fa-upload"></i> {:__("Upload to local")}
            </button>
            <span>受网络传输影响,上传组件加载完毕需要1~3秒时间</span>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
