<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-sex" class="control-label col-xs-12 col-sm-2">{:__('Sex')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sex" data-rule="required" class="form-control" name="row[sex]" type="number" value="{$row.sex}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-phone" class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" data-rule="required" class="form-control" name="row[phone]" type="text" value="{$row.phone}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-room" class="control-label col-xs-12 col-sm-2">{:__('Room')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-room" data-rule="required" class="form-control" name="row[room]" type="text" value="{$row.room}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mettingadd" class="control-label col-xs-12 col-sm-2">{:__('Mettingadd')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mettingadd" data-rule="required" class="form-control" name="row[mettingadd]" type="text" value="{$row.mettingadd}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-seatnum" class="control-label col-xs-12 col-sm-2">{:__('Seatnum')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-seatnum" data-rule="required" class="form-control" name="row[seatnum]" type="text" value="{$row.seatnum}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-groupnum" class="control-label col-xs-12 col-sm-2">{:__('Groupnum')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-groupnum" data-rule="required" class="form-control" name="row[groupnum]" type="text" value="{$row.groupnum}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-groupadd" class="control-label col-xs-12 col-sm-2">{:__('Groupadd')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-groupadd" data-rule="required" class="form-control" name="row[groupadd]" type="text" value="{$row.groupadd}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-th" class="control-label col-xs-12 col-sm-2">{:__('Th')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-th" data-rule="required" class="form-control" name="row[th]" type="text" value="{$row.th}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-fv" class="control-label col-xs-12 col-sm-2">{:__('Fv')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fv" data-rule="required" class="form-control" name="row[fv]" type="text" value="{$row.fv}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-six" class="control-label col-xs-12 col-sm-2">{:__('Six')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-six" data-rule="required" class="form-control" name="row[six]" type="text" value="{$row.six}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-isload" class="control-label col-xs-12 col-sm-2">{:__('Isload')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-isload" class="form-control" name="row[isload]" type="number" value="{$row.isload}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-loadtime" class="control-label col-xs-12 col-sm-2">{:__('Loadtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-loadtime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[loadtime]" type="text" value="{$row.loadtime|datetime}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
